.card{
    width: 145px;
    background-color: rgb(35, 37, 51);
    height: 200px;
    margin: 8px;
    padding: 20px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 5px 6px 6px rgb(73, 73, 73);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    cursor: default;
    
}
a{
    text-decoration: none;
}
.card:hover{
    transform: scale(1.08);
    background-color: rgb(55, 58, 82);
}
.card:active,.card:focus{
    transform: scale(0.95);
}
h1{
    color: white;
    font-size: 0.8rem !important;
    justify-self:flex-end;
    /* position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 20px;
    margin-right: auto; */
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width:100px;
}

.inputdiv{
    text-align: center;
    margin: 20px;
}
input{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(35, 37, 51);
    color: white;
    border: 1px solid rgb(44, 44, 61);
    text-transform: uppercase;
}
input::placeholder{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.637);
    
}
input:focus,input:active{
    animation: bounce 0.3s ;
}

@keyframes bounce {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}